body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
}

#matrix-rain {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.slice-container {
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.65;
    z-index: 2;
}


#greetings-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    max-width: 400px;
}

#greetings-en {
    font-family: silkscreen_expandednormal;
    display: flexbox;
    font-size: 32px;
    color: #fff;
    opacity: 1;
    justify-content: center;
    text-align: center;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF6EC7, 0 0 20px #FF6EC7, 0 0 25px #FF6EC7, 0 0 30px #FF6EC7, 0 0 35px #FF6EC7; */
}

.cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:#39FF14;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
}

.cursor::after {
    height:30px;
    width:12px;
}
  
@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

#to-glitch {
  /* font-family: "Varela", sans-serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 42px;
}

.glitch {
  /* font-family: "Varela", sans-serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 42px;
  position: relative;
  display: inline;
}

.glitch::before {
  content: attr(data-content);
  position: absolute;
  left: -2px;
  top: 0;
  text-shadow: 1px 0 #5da1c6;
  overflow: hidden;
  pointer-events: none;
  justify-content: center;
  text-align: center;
  background: black;
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(36% 0 32% 0);
  }
  5% {
    clip-path: inset(38% 0 22% 0);
  }
  10% {
    clip-path: inset(55% 0 18% 0);
  }
  15% {
    clip-path: inset(43% 0 7% 0);
  }
  20% {
    clip-path: inset(37% 0 25% 0);
  }
  25% {
    clip-path: inset(62% 0 22% 0);
  }
  30% {
    clip-path: inset(62% 0 28% 0);
  }
  35% {
    clip-path: inset(17% 0 81% 0);
  }
  40% {
    clip-path: inset(54% 0 42% 0);
  }
  45% {
    clip-path: inset(60% 0 40% 0);
  }
  50% {
    clip-path: inset(23% 0 70% 0);
  }
  55% {
    clip-path: inset(92% 0 9% 0);
  }
  60% {
    clip-path: inset(27% 0 31% 0);
  }
  65% {
    clip-path: inset(61% 0 12% 0);
  }
  70% {
    clip-path: inset(64% 0 10% 0);
  }
  75% {
    clip-path: inset(3% 0 76% 0);
  }
  80% {
    clip-path: inset(29% 0 40% 0);
  }
  85% {
    clip-path: inset(84% 0 15% 0);
  }
  90% {
    clip-path: inset(53% 0 34% 0);
  }
  95% {
    clip-path: inset(18% 0 25% 0);
  }
  100% {
    clip-path: inset(40% 0 45% 0);
  }
}

.glitch::after {
  content: attr(data-content);
  position: absolute;
  left: 1px;
  top: 0;
  text-shadow: -1px 0 #39FF14;
  pointer-events: none;
  justify-content: center;
  text-align: center;
  background: black;
  animation: noise-anim 5.25s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip-path: inset(56% 0 31% 0);
  }
  5% {
    clip-path: inset(19% 0 34% 0);
  }
  10% {
    clip-path: inset(5% 0 87% 0);
  }
  15% {
    clip-path: inset(51% 0 39% 0);
  }
  20% {
    clip-path: inset(38% 0 54% 0);
  }
  25% {
    clip-path: inset(90% 0 7% 0);
  }
  30% {
    clip-path: inset(95% 0 6% 0);
  }
  35% {
    clip-path: inset(27% 0 30% 0);
  }
  40% {
    clip-path: inset(20% 0 22% 0);
  }
  45% {
    clip-path: inset(17% 0 29% 0);
  }
  50% {
    clip-path: inset(20% 0 68% 0);
  }
  55% {
    clip-path: inset(89% 0 7% 0);
  }
  60% {
    clip-path: inset(39% 0 59% 0);
  }
  65% {
    clip-path: inset(23% 0 5% 0);
  }
  70% {
    clip-path: inset(30% 0 60% 0);
  }
  75% {
    clip-path: inset(25% 0 53% 0);
  }
  80% {
    clip-path: inset(98% 0 3% 0);
  }
  85% {
    clip-path: inset(1% 0 42% 0);
  }
  90% {
    clip-path: inset(6% 0 64% 0);
  }
  95% {
    clip-path: inset(54% 0 38% 0);
  }
  100% {
    clip-path: inset(80% 0 17% 0);
  }
}
